header{

    padding: 10px;
    border-bottom: 2px solid white;
}
button{
    border-radius: 10px;
}
div{
    padding:5px;
}



canvas{
    background-color: black;
}

body{
    justify-content: center;
    background: url("fondo.jpg") no-repeat fixed center;
    background-size: 100% 100%;
    color: white;
    
}



